.product {
    &__wrapper {
        display: flex;
        padding: 30px 50px 65px 50px;
        max-width: 835px;
    }

    &__content {
		margin-top: 35px;
        padding-left: 60px;
    }

    &__img {
        max-width: 395px;
        max-height: 420px;
    }

    &__id {
        
        color: #686b74;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
    }

    &__prices {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    &__price {
        padding-left: 35px;
        color: #ce2c52;
        font-size: 25px;
        font-weight: 600;
    }

    &__old-price {
        color: #2c303d;
        font-size: 25px;
        font-weight: 600;
        text-decoration: line-through;
    }

    &__rating {
        margin-top: 20px;
       
    }

    &__share {
      margin-left: 15px;
      text-decoration: none;
      color: #2c87ce;
      font-size: 20px;
	  font-weight: 600;
	  cursor: pointer;
	}
    &__descr {
        margin-top: 20px;
        color: #3d3d3d;
        font-size: 15px;
        font-weight: 400;
    }

    &__choice {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 20px;

        &_size {
            margin: 15px 35px 0 0;
            color: #2c303d;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &_icon {
            margin-right: 10px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: 2px solid #cdcdcd;
            color: #2c303d;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            line-height: 35px;

            &:hover {
                box-shadow: 0 0 10px #b9b9b9;
            }
        }

        &_color {
            margin: 15px 17px 0 0;
            color: #2c303d;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &_blue {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #77d8e7;

            &:hover {
                box-shadow: 0 0 10px #b2b2b2;
            }
        }

        &_green {
            margin-right: 10px;
            background-color: #96c795;
            width: 40px;
            height: 40px;
            border-radius: 100%;

            &:hover {
                box-shadow: 0 0 10px #b2b2b2;
            }
        }

        &_pink {
            margin-right: 10px;
            background-color: #ce92a1;
            width: 40px;
            height: 40px;
            border-radius: 100%;

            &:hover {
                box-shadow: 0 0 10px #b2b2b2;
            }
        }

        &_purple {
            margin-right: 10px;
            background-color: #aa93cf;
            width: 40px;
            height: 40px;
            border-radius: 100%;

            &:hover {
                box-shadow: 0 0 10px #b2b2b2;
            }
        }
    }
}